{% load static %}

<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
        <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/login_icon.png' %}"> Login</a>
        <a href="{% url 'cadastro' %}"><img src="{% static '/assets/ícones/1x/cadastrar_login.png' %}"> Cadastro</a>
        {% if user.is_authenticated %}
            <a href= "{% url 'nova_imagem' %}"><img src="{% static '/assets/ícones/1x/add_image.png' %}"> Adicionar imagem</a>
            {% if user.is_superuser %}
                <a href= "{% url 'aprovar_imagens' %}"><img src="{% static '/assets/ícones/1x/aprovar-imagens.png' %}"> Aprovar imagens</a>
            {% endif %}
            <a href= "{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/logout_icon.png' %}"> Logout</a>
        {% endif %}
    </nav>
</section>
